body {
  margin: 10px;
  background-color: black;
  color: white;
  line-height: 1.5;
}

h1, h2{
  text-align: center;
}


.containers{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.countries-container{
  padding: 10px;
}

.visited-countries-container{
  padding: 10px;
}

.visited-countries-container p {
  text-decoration: line-through;
}

.visited-countries-container button:hover {
  text-decoration: line-through;
  background-color: black;
}


li {
  list-style-type: none;
}


button{
  background-color: black;
  border: 1px solid transparent;
  transition: background-color 1s;
  border-radius: 0.3em;
}

button:hover{
  background-color: grey;
}





















